<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
   <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
   <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
          <div class='panel panel-primary'>
              <div class='panel-heading'>
                  <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body form-inline">
                <label >
                    Id:
                    <input type="text" class='form-control' v-model='id'>
                </label>
                <label >
                        name:
                        <input type="text" class='form-control' v-model='name'>
                    </label>
                    <input type="button" value= '添加'  class='btn btn-primary' @click='add'>
                    <label>
                            搜索名称关键字：
                            <input type="text" class="form-control" v-model="keywords">
                          </label>
              </div>
             
          </div>  
        
        <table class="table table-bordered table-hover table-striped"> 
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ctime</th>
                    <th>opreation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='item in search(keywords)' :key='item.id'>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td>
                        <a href="#" @click.prevent='del(item.id)'>删除</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <script>
        var vm=new Vue({
           el:'#app',
           data:{
               id:'',
               name:'',
               keywords:'',
             list:[
            {  id:'1', name:'奔驰',ctime:new Date()},
             {  id:'2', name:'宝马',ctime:new Date()}
             ]
           },
           methods:{
             add(){
                let car = {id:this.id,name:this.name,ctime:new Date()}
                this.list.push(car)
                this.id=this.name=''
             },
             del(id){
               
                 this.list.some((item,i)=>{
                     if(item.id == id){
                        this.list.splice(i,1)
                     //在数组中 some' 方法一但
                    //  被找到就会返回  停止循环
                     return true;
                     }

                    //    var index = this.list.findIndex(item => {
                    //  if (item.id == id) {
                    //  return true;

                    // var index = this.list.finIndex(item=>{
                    //     if(item.id==id){
                    //         return true;
                    //     }
                    // })
                 }
                
          

                  
                 )},
                 search(keywords){
                     //第一种索引
                    //   let newlist = []
                    //   this.list.forEach(item => {
                    //       if(item.name.indexOf(keywords) != -1){
                    //           newlist.push(item)
                    //       }
                    //   })
                    //   return newlist


                      //第二种 关键字 包含
                      return this.list.filter(item=>{
                          if(item.name.includes(keywords)){
                              return item
                          }
                      })
                 }
             }
          
        });
    </script>
</body>

</html>